* {
    border: 1px solid black;
}

/*CONTENEDOR DE GRID*/

#containerOfGrid {
    background: url("./img/Clouds_1/1.png");
    background-size: auto 40svh;
    background-repeat: repeat-x;
}

/*GRID*/

.grid {
    display: grid;
    justify-items: stretch;
    height: 100svh;
    grid-template-rows: 40svh 40svh 20svh;
    background: url("./img/Clouds_1/2.png");
    background-size: auto 40svh;
    background-repeat: repeat-x;
    animation-name: movimientoNubes;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes movimientoNubes {
    0% {background-position-x: 100%;}
    100% {background-position-x: 0%;}
}

.gridElement {
    width: auto;
}

/*PERSONAJE*/

.Personaje-img {
    display: block;
    margin-top: calc(40svh - 48px);
    margin-left: auto;
    margin-right: auto;
    animation-timing-function: steps(4);
}

@keyframes vueloSinMovimiento {
    0%   {background-position-x: 0px;};
    100% {background-position-x: 192px;};
}

/*ATAQUE ENEMIGO*/

.ataqueEnemigoImg {
    background: red;
    border-radius: 0 50% 50% 0;
    opacity: 0.1;
    width: 96px;
    transform: rotate(0.75turn);
    position: relative;
    top: 0%;
    animation-iteration-count: 1;
}

@keyframes ataqueEnemigoUp {
    0%   {top: 100%; background: transparent; opacity: 1.0;}
    50%  {background: transparent;}
    90%  {opacity: 1.0;}
    100% {top: 0%; background: rgba(255, 0, 0, 0.5); opacity: 0.1;}
}

/*WOODEN STICK: Item básico que te da puntos en el juego*/

.woodenStick {
    background: yellow;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(40svh - 48px);
}

/*FULL SCREEN CLASS*/

.fullScreen {
    width: 100svw;
    height: 100svh;
}

/*BUTTON*/

